<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - clonemondo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/clonemondo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" style="height:45px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/Logo.png" style="height:40px;" />
                </a>

                <div class="loc-picker" style="height:35px;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/512px-Flag_of_Denmark.svg.png" style="width: 16px; border-radius: 20%; margin-right: 8px;" />
                        </li>
                        <li class="nav-item" style="margin-top: 5px;">
                            <p>kr.</p>
                        </li>
                    </ul>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Airports">Airports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/deyanaaliyah">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" id="container-in-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="line-height">
        <div class="grid-container">
            <div class="item1">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Airports">Airports</a>
            </div>
            <div class="item2">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="item3">
                <a href="https://github.com/deyanaaliyah" target="_blank">GitHub</a>
            </div>
        </div>
        <div class="container footer-center">
            &copy; 2023 - clonemondo - an app by deyanaaliyah
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>